<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link rel = "stylesheet" type="text/css" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css ">
    <title>Edit Manager</title>
</head>
<body>
<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Builders</span> </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/manager/home"> Home</a>
      </nav>

    </div>
  </header>
</div>

<div class="container">
  <h1>Edit Manager</h1>
  <form action="/manager/updateManager" method="POST">
    <div class="mb-3">
      <label for="login" class="form-label">Login:</label>
      <input type="text" id="login" name="login" class="form-control" th:value="${oldDataManager.login}" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" id="password" name="password" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="number" class="form-label">Number:</label>
      <input type="text" id="number" name="number" class="form-control" th:value="${oldDataManager.phoneNumber}" required>
    </div>

    <!-- Hidden fields for id_brigade, id_position, and role -->
    <input type="hidden" name="id" th:value="${oldDataManager.id}">
    <input type="hidden" id="name" name="name" th:value="${oldDataManager.name}">
    <input type="hidden" id="lastName" name="lastName" th:value="${oldDataManager.lastName}">
    <input type="hidden" name="brigadeId" th:value="${oldDataManager.idBrigade.brigadeName}">
    <input type="hidden" name="positionId" th:value="${oldDataManager.idPosition.positionName}">
    <input type="hidden" name="role" th:value="${oldDataManager.role}">

    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div>

</body>
</html>
